body {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    font-size: 1.5em;
    color: orangered;
}

ul {
    padding: 0;
}

li {
    border: 1px solid gray;
    padding: 5px;
    padding-left: 15px;
    margin-bottom: 10px;
    box-shadow: 1px 1px lightgray;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
}

#search {
    font-size: 16px;
}

header,
#search,
#results {
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
    display: block;
}

.red {
    color: red;
}