* {
    padding: 5px;
}

body {
    font-family: -apple-system, 'avenir next', avenir, roboto, noto, ubuntu, 'helvetica neue', helvetica, arial, sans-serif;
    box-sizing: border-box;
    background-color: #111111;
    color: white;
}

h1 {
    font-family: 'Bowlby One SC', cursive;
    font-size: 3em;
    color: #7FDBFF;
    border: 1px solid white;
}

ul {
    list-style: none;
}

a {
    font-size: 1.5em;
    color: #7FDBFF;
    font-family: 'Bowlby One SC', cursive;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
}

ul {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
    border: 2px solid gray;
    padding: 5px;
    padding-left: 25px;
    margin-bottom: 10px;
    background-color: #85144b;
    color: white;
    max-width: 27%;
    min-width: 27%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    border: 1px solid white;
}

#search {
    font-size: 16px;
    border: 1px solid white;
}

header,
#search,
#results {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#restart {
    float: right;
}

.red {
    color: red;
}